.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 3px;
}

.mt-2 {
  margin-top: 5px;
}
.uppercase {
  font-variant: all-small-caps;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
  height: 55px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  background: #fff;
}

.navbar .right {
  display: flex;
  align-items: center;
}
.navbar .right a {
  margin-left: 35px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px 0 #00000030;
  cursor: pointer;
}

a:disabled,
button:disabled {
  pointer-events: none;
  opacity: 0.8;
}

.btn:hover {
  box-shadow: 0 1px 5px 0 #00000050;
}

a.hoverfx {
  display: inline-grid;
  cursor: pointer;
}
a.hoverfx:hover {
  font-weight: 400;
}
a.hoverfx::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);
}

footer a {
  margin-right: 25px;
}

.screen {
  min-height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p {
  font-weight: 400;
  font-size: 30px;
}

.guest {
  display: flex;
  flex-direction: column;
}
.guest .main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest .btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid;
  column-gap: 1px;
}

.guest .btns button {
  height: 50px;
  background-color: #fff;
}

.guest .btns button.selected {
  box-shadow: inset 0 0 4px 0px rgb(0 0 0 / 0.3);
}

.card {
  border: solid 1px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
}

.card-header {
  font-variant: all-small-caps;
  font-weight: 400;
  border-bottom: 1px solid;
  padding: 2px 5px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
}

.card-body {
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 3px;
}

.input {
  border: solid 1px;
  width: 260px;
  height: 30px;
  border-radius: 4px;
  padding-left: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 15%);
}

input.input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 15%);
}
input.input::placeholder {
  color: #c7c7c7;
}

input.input:disabled {
  background-color: #f3f3f3;
}

.submit-div {
  display: grid;
}

p.small {
  font-size: 13px;
}

.btn-row {
  display: flex;
  column-gap: 3px;
}

.btn-row .btn {
  flex: 1;
}

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  min-width: 275px;
  min-height: 150px;
  border: solid 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  padding: 5px;
}
.modal-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  padding: 3px;
}
