.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
  height: 55px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  background: #fff;
}

.navbar .right {
  display: flex;
  align-items: center;
}
.navbar .right a {
  margin-left: 35px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px 0 #00000030;
}

.btn:hover {
  box-shadow: 0 1px 5px 0 #00000050;
}

a.hoverfx {
  display: inline-grid;
}
a.hoverfx:hover {
  font-weight: 400;
}
a.hoverfx::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);
}

footer a {
  margin-right: 25px;
}

.screen {
  min-height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p {
  font-weight: 400;
  font-size: 30px;
}

.guest {
  display: flex;
  flex-direction: column;
}
.guest .main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest .btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid;
  column-gap: 1px;
}

.guest .btns button {
  height: 50px;
  background-color: #fff;
}
