body {
  background-color: #0056b2;
}

.App {
  min-width: 360px;
}

.hidden {
  display: none !important;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 3px;
}

.mt-2 {
  margin-top: 5px;
}

.m-auto {
  margin: auto;
}

.mb-2 {
  margin-bottom: 5px;
}
.uppercase {
  font-variant: all-small-caps;
}

.fake-space {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
  height: 55px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  background: #fff;
}

.navbar .right {
  display: flex;
  align-items: center;
}
.navbar .right a {
  margin-left: 35px;
  text-align: right;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px 0 #00000030;
  cursor: pointer;
  text-align: center;
}

/* a disabled don't work */
a:disabled,
button:disabled {
  pointer-events: none;
  opacity: 0.8;
}

.btn.shrink:active {
  transform: scale(0.95);
}
.btn:hover {
  box-shadow: 0 1px 5px 0 #00000050;
}

a.hoverfx {
  display: inline-grid;
  cursor: pointer;
}
a.hoverfx:hover {
  font-weight: 400;
}
a.hoverfx::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);
}

footer .left {
  display: flex;
  column-gap: 25px;
}

.screen {
  min-height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading p {
  font-weight: 400;
  font-size: 30px;
}

.guest {
  display: flex;
  flex-direction: column;
}

.home {
  padding: 50px 40px;
}
.home .card {
  box-shadow: 0 5px 10px rgb(0 0 0 / 40%);
  border-radius: 5px;
  margin-top: 30px;
}

.guest .main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest .btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid;
  column-gap: 1px;
}

.guest .btns button {
  height: 50px;
  background-color: #fff;
}

.card {
  border: solid 1px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0 0;
  background-color: #fff;
}

.card-header {
  font-variant: all-small-caps;
  font-weight: 400;
  border-bottom: 1px solid;
  padding: 2px 5px;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
}

.card-body {
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 3px;
}

.input {
  border: solid 1px;
  width: 260px;
  height: 30px;
  border-radius: 4px;
  padding-left: 5px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 15%);
}

input.input:focus {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 15%);
}
input.input::placeholder {
  color: #c7c7c7;
}

input.input:disabled {
  background-color: #f3f3f3;
}

.submit-div {
  display: grid;
}

p.small {
  font-size: 13px;
}

.btn-row {
  display: flex;
  column-gap: 3px;
}

.btn-row .btn {
  flex: 1;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.modal {
  background-color: #fff;
  min-width: 275px;
  min-height: 150px;
  border: solid 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-height: 70vh;
}

.modal-header {
  padding: 5px;
}
.modal-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-footer {
  padding: 3px;
}

.verifyp {
  margin: 20px;
  font-weight: 400;
}

.input-container {
  height: 50px;
  max-width: 640px;
  /* width: 100%; */
  background: #fff;
  display: flex;
  border-radius: 5px;
}

.input-container input {
  flex: 1;
  border-radius: 5px 0px 0px 5px;
  font-size: 17px;
  padding-left: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 30%);
}

.input-container input:focus {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 35%);
}

.input-container input::placeholder {
  color: #c7c7c7;
}

.input-container button {
  font-variant-caps: all-small-caps;
  width: 120px;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  line-height: 0px;
}

.input-container button:active {
  box-shadow: inset 0 0 5px 0 #00000030;
}

.letter-anim {
  display: inline-flex;
  letter-spacing: 4px;
  align-items: center;
  line-height: 0;
}
.letter-anim .fade-val {
  animation: fadeIn 0.3s ease-out;
  line-height: 0;
}

div.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
}

table {
  width: 100%;
}

.shorten-container tr {
  line-height: 50px;
}

.shorten-container .output,
.shorten-container .link-input,
.shorten-container .state {
  font-size: 25px;
  overflow-wrap: anywhere;
}

.shorten-container td.label {
  text-align: right;
}

.shorten-container td.purpose {
  padding-left: 50px;
}

.copyTextArea {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
table.link-card {
  text-align: center;
  border-collapse: collapse;
}

.link-card tbody tr:hover {
  background-color: #f0f0f0;
}
.link-card td.anywhere {
  overflow: hidden;
  overflow-wrap: anywhere;
}
.link-card a {
  max-width: 300px;
}
.link-card td a:hover {
  /* max-width: 300px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
  font-weight: 300;
}
.link-card td a::after {
  display: none;
}

.link-card td,
.link-card th {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.link-card th {
  font-weight: 400;
  padding-bottom: 10px;
}
.link-card th:nth-last-child(1),
.link-card td:nth-last-child(1) {
  border-right: none;
}
.link-card th:nth-child(1),
.link-card td:nth-child(1) {
  border-left: none;
}

.user-table {
  padding: 10px 20px;
}

.user-table tr {
  line-height: 30px;
}

.user-table td.purpose {
  padding-left: 20px;
}

.btn.icon {
  padding: 10px;
}

.terms,
.policy,
.support {
  padding: 5px 10px;
}
.policy .group {
  margin-bottom: 15px;
  line-height: 20px;
}

.terms .direct,
.support .direct {
  margin-bottom: 15px;
  font-size: 17px;
}
.list {
  counter-reset: listCount;
}
.list-item {
  counter-increment: listCount;
}

.list-item::before {
  content: counter(listCount) ".";
  font-size: 13px;
  margin: 0 10px;
  color: #adadad;
}

.terms .list-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .navbar {
    padding: 0 20px;
  }
  .navbar .right a {
    margin-left: 10px;
  }

  .home {
    padding: 50px 15px;
  }
  footer {
    padding: 20px 15px;
  }

  footer .left {
    flex-direction: column;
    row-gap: 15px;
  }

  .link-card td a {
    /* max-width: 200px; */
  }
}

@media (max-width: 600px) {
  .shorten-container td.purpose {
    padding-left: 10px;
  }

  .luxury {
    display: none;
  }
}

.flash-container {
  position: fixed;
  bottom: 30px;
  background: #000000;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  padding: 20px 50px;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  animation: slideUp 500ms forwards ease-out, fadeIn 500ms forwards ease-in;
}

.flash-container.leaving {
  animation: slideDown 500ms forwards ease-in, fadeOut 500ms forwards ease-in;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes slideDown {
  to {
    transform: translateY(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
