* {
  margin: 0;
  box-sizing: border-box;
}

a,
p,
div,
h1,
h2,
h3,
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

input,
button {
  -webkit-appearance: unset;
  border: unset;
  background: unset;
  outline: unset;
}

button {
  cursor: pointer;
}

p a {
  display: inline;
}
a {
  color: unset;
  text-decoration: unset;
  display: block;
}
.c-primary {
  color: #007bff;
}
.c-secondary {
  color: #f4a95e;
}

.c-tertiary {
  color: #0056b2;
}
.c-gray {
  color: #adadad;
}
.c-gray2 {
  color: #dddddd;
}
.c-white {
  color: #fff;
}

.b-primary {
  background-color: #007bff !important;
}
.b-secondary {
  background-color: #f4a95e !important;
}
.b-tertiary {
  background-color: #0056b2 !important;
}
.b-gray {
  background-color: #adadad !important;
}
.b-gray2 {
  background-color: #dddddd !important;
}

.bd-primary {
  border-color: #007bff !important;
}
.bd-secondary {
  border-color: #f4a95e !important;
}
.bd-tertiary {
  border-color: #0056b2 !important;
}
.bd-gray {
  border-color: #adadad !important;
}
.bd-gray2 {
  border-color: #dddddd !important;
}
