.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
  height: 55px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  background: #fff;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px 0 #00000030;
}

.btn:hover {
  box-shadow: 0 1px 5px 0 #00000050;
}

a.hoverfx {
  display: inline-grid;
}
a.hoverfx::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 400;
}

a.hoverfx:hover {
  font-weight: 400;
}

.navbar .right {
  display: flex;
  align-items: center;
}
.navbar .right a {
  margin-left: 35px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
}

.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
}

.main .right h1 {
  font-size: 50px;
  font-variant: all-small-caps;
  text-align: center;
  font-weight: 400;
}

.main .right p {
  font-size: 25px;
  margin-bottom: 10px;
}

.btn-row {
  display: flex;
  justify-content: center;
}
.btn-row .btn {
  margin: 0 10px;
}

/* .main .left .placeholder {
  height: 350px;
  width: 350px;
} */

.main .left img {
  width: 400px;
}

.action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.action h2,
.action p,
.action div {
  margin: 5px 0;
}

.action h2 {
  font-size: 30px;
}

.action .input-container {
  height: 50px;
  width: 640px;
  background: #fff;
  display: flex;
  border-radius: 5px;
}

.action input {
  flex: 1;
  border-radius: 5px 0px 0px 5px;
  font-size: 17px;
  padding-left: 10px;
}

.action input::placeholder {
  color: #c7c7c7;
}

.action button {
  font-variant-caps: all-small-caps;
  font-weight: 400;
  width: 120px;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  line-height: 0px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 80px;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);
}

footer div {
  line-height: 25px;
  display: flex;
  flex-direction: column;
}
