.uppercase {
  font-variant: all-small-caps;
}

.text-center {
  text-align: center;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
  height: 55px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  left: 0;
  right: 0;
  background: #fff;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 1px 2px 0 #00000030;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.btn.shrink:active {
  transform: scale(0.95);
}
.btn:hover {
  box-shadow: 0 1px 5px 0 #00000050;
}

a.hoverfx {
  display: inline-grid;
  cursor: pointer;
}
a.hoverfx::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 400;
}

a.hoverfx:hover {
  font-weight: 400;
}

.navbar .right {
  display: flex;
  align-items: center;
}
.navbar .right a {
  margin-left: 35px;
}

.logo a {
  font-size: 25px;
  font-weight: bold;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  align-items: center;
  padding: 10px;
  padding-top: 60px;
}

.main .right h1 {
  font-size: 50px;
  font-variant: small-caps;
  text-align: center;
  font-weight: 400;
}

.main .right p {
  font-size: 25px;
  margin-bottom: 10px;
}

.limiter {
  max-width: 200px;
  margin: auto;
}
.btn-row {
  display: flex;
  column-gap: 3px;
}

.btn-row .btn {
  flex: 1;
}

.main .left img {
  width: 400px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);
}

footer .left {
  display: flex;
  column-gap: 25px;
}

.shorten-container {
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.2);
  height: 200px;
  padding: 5px 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  position: relative;
}
.shorten-container .output {
  font-size: 25px;
}
.copyTextArea {
  position: absolute;
  left: -9999px;
  opacity: 0;
}
.row {
  display: none;
}
div.shorten-container.ready .row.ready {
  display: block;
}
div.shorten-container.load .row.load {
  display: block;
}
div.shorten-container.success .row.success {
  display: block;
}
div.shorten-container.failed .row.failed {
  display: block;
}

.shorten-container h2 {
  font-size: 30px;
}
.m-auto {
  margin: auto;
}

.action-btns {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hidden {
  display: none !important;
}

div.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7px;
}
.letter-anim {
  display: inline-flex;
  letter-spacing: 4px;
  align-items: center;
  line-height: 0;
}
.letter-anim.load-anim {
  counter-reset: placeholders;
}
.letter-anim.load-anim div.circle {
  counter-increment: placeholders;
  animation: fadeOut 800ms ease-in-out infinite alternate;
}
.letter-anim.load-anim div.circle:nth-child(1) {
  animation-delay: 800ms;
}
.letter-anim.load-anim div.circle:nth-child(2) {
  animation-delay: 200ms;
}
.letter-anim.load-anim div.circle:nth-child(3) {
  animation-delay: 1500ms;
}
.letter-anim.load-anim div.circle:nth-child(4) {
  animation-delay: 600ms;
}
.letter-anim.load-anim div.circle:nth-child(5) {
  animation-delay: 1100ms;
}

.input-container {
  height: 50px;
  max-width: 640px;
  /* width: 100%; */
  background: #fff;
  display: flex;
  border-radius: 5px;
}

.input-container input {
  flex: 1;
  border-radius: 5px 0px 0px 5px;
  font-size: 17px;
  padding-left: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 30%);
}

.input-container input:focus {
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 35%);
}

.input-container input::placeholder {
  color: #c7c7c7;
}

.input-container button {
  font-variant-caps: all-small-caps;
  width: 120px;
  font-size: 20px;
  border-radius: 0px 5px 5px 0px;
  line-height: 0px;
}

.input-container button:active {
  box-shadow: inset 0 0 5px 0 #00000030;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}

.modal {
  background-color: #fff;
  min-width: 275px;
  min-height: 150px;
  border: solid 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-height: 70vh;
}

.modal-header {
  padding: 5px;
}
.modal-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-footer {
  padding: 3px;
}

.flash-container {
  position: fixed;
  bottom: 30px;
  background: #000000;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  padding: 20px 50px;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  animation: slideUp 500ms forwards ease-out, fadeIn 500ms forwards ease-in;
}

.flash-container.leaving {
  animation: slideDown 500ms forwards ease-in, fadeOut 500ms forwards ease-in;
}

@media (max-width: 800px) {
  .navbar {
    padding: 0 20px;
  }
  .navbar .right a {
    margin-left: 15px;
  }
  footer {
    padding: 20px 15px;
  }

  footer .left {
    flex-direction: column;
    row-gap: 15px;
  }

  .main {
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .main .left img {
    width: 350px;
  }
}

.terms,
.policy,
.support {
  padding: 5px 10px;
}
.policy .group {
  margin-bottom: 15px;
  line-height: 20px;
}

.terms .direct,
.support .direct {
  margin-bottom: 15px;
  font-size: 17px;
}

.list {
  counter-reset: listCount;
}
.list-item {
  counter-increment: listCount;
}

.list-item::before {
  content: counter(listCount) ".";
  font-size: 13px;
  margin: 0 10px;
  color: #adadad;
}

.terms .list-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .luxury {
    display: none !important;
  }

  .main .right h1 {
    font-size: 40px;
  }

  .main .right p {
    font-size: 20px;
  }
  .main .left img {
    width: 325px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes slideDown {
  to {
    transform: translateY(100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
